@import "../../../assets/styles/colors";
@import "../../../assets/styles/vars";

@image-padding: 5px;

:host {
    height: 100%;
    display: block;
}

.giphy-list {
    &__image-row {
        display: flex;
        gap: @image-padding * 2;
        justify-content: center;
        padding: @image-padding 0;
    }

    &__image {
        position: relative;

        &:hover {
            .giphy-list__image {
                &_title, &_date {
                    opacity: 1;
                }
            }
        }

        &_title, &_date {
            background: @chip-background;
            border-radius: @image-padding;
            max-width: 100% - @image-padding * 2;
            opacity: 0.2;
            padding: 0 @image-padding;
            position: absolute;
            transition: opacity 0.2s ease-in-out;
        }

        &_title {
            left: @image-padding;
            top: @image-padding;
        }

        &_date {
            bottom: @image-padding;
            right: @image-padding;
        }

        &_content {
            border-radius: @image-padding * 2;
        }

        img {
            height: 100%;
            width: auto;
        }
    }

    &__scroll-viewport {
        height: 100%;
        width: 100%;
    }
}
