<cdk-virtual-scroll-viewport class="giphy-list__scroll-viewport"
                             [itemSize]="rowHeight"
                             (scroll)="viewportScrolled($event)"
>
    <div *cdkVirtualFor="let imageRow of images | appSplitImageList : width : rowHeight"
         class="giphy-list__image-row"
         [style.height]="rowHeight+'px'"
    >
        <div *ngFor="let image of imageRow"
             class="giphy-list__image"
             [style.height]="image.sizes.downsized.height + 'px'"
             [style.width]="image.sizes.downsized.width + 'px'"
        >
            <mat-label class="giphy-list__image_title">{{ image.title }}</mat-label>
            <img alt=""
                 class="giphy-list__image_content"
                 loading="lazy"
                 [src]="image.sizes.downsized.url"
                 (error)="loadingImageError(image.title)"
            >
            <mat-label class="giphy-list__image_date">{{ image.uploadDate }}</mat-label>
        </div>
    </div>
</cdk-virtual-scroll-viewport>

<ng-template #imageTemplate
             let-image="image"
>

</ng-template>
