@import "../../../assets/styles/colors";
@import "../../../assets/styles/vars";


:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-page {
    &__header {
        background: @sky-blue;
        border-bottom: 2px solid @gray;
        display: flex;
        height: 80px;
        padding: @default-padding;
        position: sticky;
        top: 0;
    }

    &__controls {
        align-items: center;
        display: flex;
        gap: @default-gap;
        justify-content: space-between;
        width: 100%;

        &_fields {
            display: flex;
            gap: @default-gap;
        }

        ::ng-deep .mat-mdc-form-field-bottom-align {
            height: 0;
        }
    }

    &__search-field {
        width: 35vw;
    }

    &__content {
        flex: 1;
        overflow: auto;
        position: relative;
    }

    &__loader-container {
        align-items: center;
        background: #f0f8ffa3;
        display: flex;
        height: 100%;
        place-content: center;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    &__total-chip.mat-mdc-standard-chip {
        --mdc-chip-elevated-container-color: #6866ff;
    }
}
