<ng-container *ngIf="state$ | async as state">
    <div class="main-page__header">
        <div class="main-page__controls">
            <div class="main-page__controls_fields">
                <mat-form-field class="main-page__search-field">
                    <mat-label>Search</mat-label>
                    <input matInput type="text"
                           [formControl]="searchControl"
                    >
                    @if (searchControl.value) {
                        <button matSuffix mat-icon-button aria-label="Clear"
                                (click)="searchControl.setValue('')"
                        >
                            <mat-icon>close</mat-icon>
                        </button>
                    }
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Image type</mat-label>
                    <mat-select [value]="state.giphyContentType"
                                (selectionChange)="selectGiphyContentType($event.value)"
                    >
                        @for (type of imageTypes; track type) {
                            <mat-option [value]="type.value">{{ type.viewValue }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>


            <mat-chip *ngIf="state.total as total"
                      class="main-page__total-chip"
                      color="accent"
                      highlighted="true"
            >
                Total images: {{ total }}
            </mat-chip>
        </div>
    </div>

    <div #imagesContainer
         class="main-page__content"
    >
        <div *ngIf="state.loading"
             class="main-page__loader-container"
        >
            <mat-spinner class="main-page__loader"></mat-spinner>
        </div>
        <!--        <button (click)="loadImgs()">load</button>-->
        <app-giphy-list *ngIf="width$ | async as width"
                        [images]="state.images"
                        [width]="width"
                        (loadNext)="loadNext()"
        ></app-giphy-list>
    </div>
</ng-container>
